* {
    padding: 0;
    margin: 0;
    text-decoration: unset;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
    /*xoa dau cham tron*/
}

input,
textarea {
    outline: none;
    /*khi click vao thi se k hien khung focus*/
}

body {
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-4 {
    width: calc(100% / 3);
    padding: 0 15px;
}

.col-4 .item {
    background-color: #a8a6b2;
}

img {
    width: 100%;
}

.header {
    padding: 10px 0;
}

.header-wrap {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;
    align-items: center;
}

.header_logo {
    width: 200px;
}

.header_menu {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
}

.main-menu li {
    padding: 10px;
}

.main-menu li a {
    color: #a8a6b2;
    font-weight: 600;
    font-size: 20px;
}

.main-menu li a:hover,
.main-menu li a.active {
    color: #106fde;
}

.btn-download {
    border: 2px solid #106fde;
    color: #106fde;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-bar {
    display: none;
}


/*dki*/

.regis-info {
    padding: 100px 0;
}

.regis-info_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-send {
    max-width: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 6px black;
}

.form-send .title-1 {
    text-transform: uppercase;
    color: #6c757c;
    margin-bottom: 5px;
}

.form-send .title-2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group {
    width: 100%;
}

.form-group .form-control,
.form-group textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.form-group .form-control {
    height: 40px;
}

.form-send button {
    background-color: #106fde;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.check-condi {
    display: flex;
    justify-content: left;
    align-items: center;
    /*gap: 10px;*/
}

#i-agree {
    margin-left: 10px;
}


/*box-provide*/

.box-provide {
    background-color: #f3f6f9;
    padding: 100px 0;
}

.box-provide-wrap {
    text-align: center;
}

.box-provide-wrap .title {
    font-weight: 600;
    color: #38475a;
    font-size: 24px;
}

.box-provide-wrap .sort-desc {
    color: #a8a6b2;
    max-width: 500px;
    margin: 10px auto 20px;
}

.box-provide-wrap .item {
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 10px;
    border-bottom: 4px solid #fff;
}

.box-provide-wrap .item .icon {
    max-width: 52px;
    margin: 0 auto;
}

.box-provide-wrap .item .item-title {
    color: #38475a;
    font-weight: 600;
    margin: 15px 0;
}

.box-provide-wrap .item .item-desc {
    color: #a8a6b2;
    font-size: 12px;
}

.box-provide-wrap .item .link-more a {
    color: #1170de;
    margin: 15px 0;
}

.box-provide-wrap .item.active,
.box-provide-wrap .item:hover {
    border-bottom-color: #1170de;
}


/*box-video*/

.box-video {
    background-color: #106FDE;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    /*quy dinh nd khi vb > khung*/
}

.box-video:hover:before {
    background-color: rgba(255, 255, 255, 0.2);
    content: "\f144";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    font-size: 33px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-video .bg-img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
}

.box-video-wrap {
    width: 50%;
    color: #fff;
    background-color: #106FDE;
}

.box-video-wrap .item .title {
    font-size: 24px;
    font-weight: 600;
}

.box-video-wrap .item .desc {
    font-size: 12px;
    opacity: 0.7;
    padding: 10px 0 20px;
}


/*box-plan*/

.box-plan {
    /*background-color: #fff;*/
    padding: 100px 0;
}

.box-plan-wrap .title {
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-align: center;
}

.box-plan-wrap .desc {
    max-width: 500px;
    text-align: center;
    margin: 5px auto 15px;
}

.box-plan-wrap .item .thumbnail {
    position: relative;
    height: 197px;
}

.box-plan-wrap .item .thumbnail img {
    height: 100%;
}

.box-plan-wrap .item {
    border-radius: 10px;
    border-bottom: 4px solid #fff;
}

.box-plan-wrap .item:hover {
    border-bottom-color: #1170de;
}

.box-plan-wrap .item .thumbnail .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.box-plan-wrap .item .thumbnail .title hr {
    background-color: #fff;
    height: 1px;
    border: 0;
}

.box-plan-wrap .item .list-feature {
    padding: 20px;
}

.box-plan-wrap .item .list-feature li {
    padding-bottom: 10px;
}

.box-plan-wrap .item .list-feature .fa {
    padding-right: 10px;
}

.box-plan-wrap .item .link-start {
    padding: 0 20px 20px;
    color: #106fde;
    ;
    font-weight: 600;
    font-size: 13px;
    display: block;
}

.fa-solid {
    margin-right: 10px;
}


/*box-slider*/

.box-slider {
    background-color: #F3F6F9;
    padding: 100px 0;
}

.box-slider .icon {
    max-width: 60px;
    margin: 0 auto;
}

.box-slider-wrap {
    max-width: 600px;
    margin: 0 auto;
}

.box-slider .mySlides {
    display: none;
    text-align: center;
    margin-bottom: 20px;
}

.box-slider .mySlides div:first-child {
    font-size: 18px;
    margin: 20px 0 10px;
    color: #5C6979;
}

.box-slider .mySlides div:last-child {
    color: #9C9FAF;
}

.box-slider .dot {
    cursor: pointer;
    height: 2px;
    width: 10px;
    margin: 0 3px;
    background-color: rgb(147, 134, 232);
    display: inline-block;
    transition: background-color 0.6s ease;
}

.box-slider .active,
.box-slider .dot:hover {
    background-color: #4340ee;
    height: 3px;
    width: 15px;
}


/*end box-slider*/


/*box-faq*/

.box-faq {
    background-color: rgb(110 110 110 / 80%);
    padding: 100px 0;
    position: relative;
}

.box-faq:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url("../asset/faq-bg.jpg") no-repeat center;
}

.box-faq .container {
    z-index: 2;
}

.col-8 {
    width: calc(100% / 3 * 2);
    padding: 0 15px;
}

.box-faq .list-faq-wrap .title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}

.box-faq .list-faq {
    background-color: #F7F7F7;
    max-width: 500px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.box-faq .list-faq .question {
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    position: relative;
    font-weight: 600;
    color: #5C6979;
    border-radius: 10px;
    cursor: pointer;
}

.box-faq .list-faq .question .fa {
    position: absolute;
    right: 15px;
    top: 10px;
}

.box-faq .list-faq .ans {
    padding: 10px 15px;
    color: #9C9FAF;
    display: none;
}

.box-faq .list-faq.active .ans {
    display: block;
}

.form-ask {
    background-color: #fff;
    max-width: 400px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
}

.form-ask .title {
    border-bottom: 1px solid #ccc;
    color: #5C6979;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

.form-ask .desc {
    color: #9C9FAF;
    padding: 20px 0;
}

.form-ask .link {
    display: block;
    width: 100%;
    background-color: #106FDE;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
}


/*end box-faq*/


/*box-doi-tac*/

.col-3 {
    width: calc(100% / 4);
    padding: 0 15px;
}

.box-doi-tac {
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}

.box-doi-tac .item {
    max-width: 190px;
    margin: 20px auto;
}


/*end box-doi-tac*/


/*box-contract-us*/

.box-contact-us {
    padding: 100px 0;
    background-color: #fff;
}

.box-contact-us .title {
    color: #3B4A5E;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.box-contact-us hr {
    max-width: 50px;
    margin: 10px auto;
    border: 0;
    height: 2px;
    background-color: #106fde;
}

.box-contact-us .desc-1 {
    color: #3B4A5E;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.box-contact-us .desc-2 {
    color: #9C9FAF;
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.contact-us-wrap label {
    color: #3B4A5E;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.contact-us-wrap .form-group {
    margin-bottom: 10px;
}

.contact-us-wrap .form-group input {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.contact-us-wrap .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    height: 177px;
}

.contact-us-wrap .btn-send {
    background-color: #106fde;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 5px;
}

.contact-us-wrap .form-bottom {
    display: flex;
    justify-content: end;
}


/*footer*/

.footer .footer-top {
    padding: 50px 0;
    background-color: #F3F6F9;
}

.footer-top .logo {
    max-width: 100px;
}

.footer-top .desc {
    color: #9C9FAF;
    max-width: 500px;
    margin: 10px 0 20px;
}

.footer-top .view-map {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    color: #106fde;
    padding: 5px 10px;
    text-transform: uppercase;
}

.footer-top .view-map .fa {
    margin-right: 5px;
}

.footer-link .title {
    color: #3B4A5E;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-link ul li {
    color: #9C9FAF;
    margin-bottom: 5px;
}

.footer-link ul li .fa {
    color: #106fde;
    margin-right: 10px;
}

.footer-bot {
    background-color: #106FDE;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .regis-info_wrap .left {
        width: 100%;
    }
    .regis-info_wrap .form-send {
        max-width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
}

.contact-us-wrap label.error {
    color: red;
}


/*mobile*/

@media screen and (max-width: 767px) {
    .regis-info_wrap .left {
        width: 100%;
    }
    .regis-info_wrap .form-send {
        max-width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
}

.contact-us-wrap label.error {
    color: red;
}


/*tablet*/

@media screen and (max-width: 990px) {
    .regis-info_wrap .left {
        width: 50%;
    }
    .regis-info_wrap .form-send {
        max-width: 49%;
    }
    .col-4 {
        width: 50%;
    }
    .btn-bar {
        display: block;
    }
    .header_menu {
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        background-color: #fff;
        width: 100%;
    }
    .main-menu li {
        width: 100%;
    }
    .header-wrap {
        justify-content: space-between;
    }
    .main-menu li {
        padding: 10px 15px;
    }
    .btn-download {
        max-width: 100px;
        margin: 0 15px 15px;
    }
    .box-provide .col-4 {
        width: 50%;
    }
    .box-plan-wrap .col-4 {
        width: 50%
    }
    .box-video .bg-img {
        position: static;
        width: 90%;
        margin-left: 4%;
        margin-top: 5%;
    }
    .box-video .container {
        margin-left: 4%;
    }
}


/*desktop*/

@media screen and (max-width: 1030px) {
    .container {
        padding: 0 15px;
    }
}